<!--ΕΡΓΑΣΙΑ ΣΤΑ ΠΛΑΙΣΙΑ ΤΟΥ ΜΑΘΗΜΑΤΟΣ "ΒΑΣΕΙΣ ΔΕΔΟΜΕΝΩΝ - ΔΙΔΑΣΚΑΛΙΑ 2023-2024"

Ο ΠΑΡΟΝ ΚΩΔΙΚΑΣ ΔΗΜΙΟΥΡΓΗΘΗΚΕ ΓΙΑ ΤΙΣ ΑΝΑΓΚΕΣ ΤΟΥ ΜΑΘΗΜΑΤΟΣ ΚΑΙ ΑΝΗΚΕΙ ΣΤΟΥΣ ΦΟΙΤΗΤΕΣ:
ΚΑΣΣΙΑΝΗ ΚΑΡΑΚΩΣΤΑ, ΑΜ: 1083922
ΖΑΡΡΗΣ ΑΡΙΣΤΕΙΔΗΣ ΣΤΥΛΙΑΝΟΣ, ΑΜ: 1083625-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Company DB</title>

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="topnav">
        <a class="active" href="{{ url_for('home') }}">home</a>
        <a href="{{ url_for('creator') }}">creator</a>
        <a href="{{ url_for('producer') }}">producer</a>
        <a href="{{ url_for('song') }}">song</a>
        <a href="{{ url_for('album') }}">album</a>
        <a href="{{ url_for('studio') }}">studio</a>
        <a href="{{ url_for('sales') }}">sales</a>
        <a href="{{ url_for('data') }}">show data</a>
    </div>

    <div>
        <h1><u>Team 13</u></h1>
        <h3>Zarris Aristeidis Stylianos - 1083625<br>Karakosta Kassiani - 1083922</h3>
    </div>

    <footer>
        <p>&copy; 2023-24 Team 13 - DB Project. All rights reserved.</p>
    </footer><br><br>

</body>
</html>
